$color-font-main: #171725;
$color-font-sub: #92929d;
$color-font-extra: #44444f;
$color-font-holder: #aaa;
$color-state-fine: #3dd598;
$color-state-warn: #ffc542;
$color-state-error: #fc5a5a;
$color-state-accept: #0062ff;
$color-state-disable: #d5d5dc;
$color-back-page: #3c5a99;
$color-back-head: #fafafb;
$color-back-part: #f1f1f5;
$color-back-mask: rgba(68, 68, 79, 0.5);
$color-part-white: #fff;
$color-part-hover: #eee;
$color-part-input: #50b5ff;
$color-part-border: #e2e2ea;
